.header {
    background-color: #f1f1f1;
    padding: 12px;
    text-align: center;
  }

  .tooltable{
    border-radius: 2px;
    background-color: #efefef;
    padding: 0 3% 2% 3%;
    /*border: 5px solid #dedede;*/
    box-shadow: 0 0 30px #003;
  }

  .container{
    position: relative;
    display: block;
    width: 1000px;
    margin: 30px auto;
    padding: 0;
    padding-bottom: -3%;
    }

    .tooltable h2 {
      background-color: #0088CC;
      color: #fff;
      text-align: center;
      padding: 5px;
      margin-left: -3%;
      margin-right: -3%;
      font-size: 1em;